@use "theme" as *;

:host {
  vertical-align: middle;

  // Estilos base para el botón interno
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    padding: 0.75rem 1.25rem;
    font-size: inherit;
    font-weight: inherit;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 100%;
    font-family: inherit;
    outline: none;
    width: 100%;
    height: 100%;
    &.icon-right {
      flex-direction: row-reverse;
    }
    &.icon-top {
      flex-direction: column;
    }
    &.icon-bottom {
      flex-direction: column-reverse;
    }
  }

  .ca-icon {
    min-height: 1.6rem;
    min-width: 1.6rem;
  }

  // --- VARIANTES ---

  // Color Base (6B0C17)
  &.primary {
    @include button-variant($color-primary, white);
  }
  &.primary-alpha {
    @include button-variant($color-primary-alpha-10, $color-primary);
  }

  // Color para 'Nueva Orden'
  &.info {
    @include button-variant($color-info, white);
  }

  // Color para 'Urgente / Cancelar'
  &.danger {
    @include button-variant($color-error, white);
  }

  // Color para 'Advertencias'
  &.warning {
    @include button-variant($color-warning, white);
  }

  // Estilo minimalista (Outline)
  &.outline {
    @include button-variant(transparent, $color-primary, $color-primary);

    button:hover {
      background-color: $color-primary-alpha-10;
    }
  }

  // Estilo minimalista (ghost)
  &.ghost {
    @include button-variant(transparent, $color-primary);

    button:hover {
      background-color: $color-primary-alpha-10;
    }
  }

  // Estilo neutro / secundario
  &.normal {
    @include button-variant(
      $color-neutral-light,
      $color-neutral-dark,
      $color-neutral-light
    );
  }
}
