:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  aspect-ratio: 1/1;
  width: inherit;
  min-width: 1.6rem;
  min-height: 1.6rem;
}

.icon {
  height: inherit;
  width: inherit;
}
