//Variables text color
$theme-text-color-01:#0D1F22;
$theme-text-color-02:#595F72;
$theme-text-color-03:#95B2B0;
$theme-text-color-04:#FFFFFF;
$theme-text-color-05:#9FC727;
$theme-text-color-06:#CC2936;


//Variables ui color
$theme-ui-color-01:#9FC727;
$theme-ui-color-02:#DC9596;
$theme-ui-color-03:#595F72;
$theme-ui-color-03:#CC2936;

//Variables bg

$theme-bg-color-01: #FFFFFF

