/* You can add global styles to this file, and also import other style files */

@use "theme" as *;

* {
  box-sizing: border-box;
  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: rgba($color: #fff, $alpha: 0.5);
    }
  }
  &::-webkit-scrollbar {
    height: 1rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba($color: #fff, $alpha: 0);
    border-radius: 2rem;
  }
}
html {
  background-color: $color-surface;
}

html,
body {
  --ui-color-brand: #6b0c17; /* Tu color personalizado */
}
