<ca-header></ca-header>
<div class="checkout__filters">
  <ca-search-bar></ca-search-bar>
  <mgp-filter-group
    class="checkout__chips"
    [filters]="filters"
  ></mgp-filter-group>
</div>

<div class="checkout__products">
  <ca-card-image
    [srcImg]="'assets/img/burger.png'"
    [title]="'Hamburguesa'"
    [subtitle]="'$80.00'"
  ></ca-card-image>

  <ca-card-image
    [srcImg]="'assets/img/burger.png'"
    [title]="'Hamburguesa'"
    [subtitle]="'$80.00'"
  ></ca-card-image>
  <ca-card-image
    [srcImg]="'assets/img/burger.png'"
    [title]="'Hamburguesa'"
    [subtitle]="'$80.00'"
  ></ca-card-image>
  <ca-card-image
    [srcImg]="'assets/img/burger.png'"
    [title]="'Hamburguesa'"
    [subtitle]="'$80.00'"
  ></ca-card-image>
  <ca-card-image
    [srcImg]="'assets/img/burger.png'"
    [title]="'Hamburguesa'"
    [subtitle]="'$80.00'"
  ></ca-card-image>
</div>

<div class="checkout__check">
  <div class="resume">
    <mgp-icon class="resume__icon" name="sale-car"></mgp-icon>
    <div class="resume__texts">
      <span class="resume__title">RESUMEN ORDEN</span>
      <span class="resume__items">3 productos </span>
    </div>
    <span class="resume__total">{{ 200 | currency }}</span>
  </div>
  <div class="resume__buttons">
    <mgp-button
      class="resume__order-button"
      [icon]="{
        name: 'bill',
        direction: 'top',
        height: '2rem',
        width: '2rem',
      }"
    >
      ORDEN
    </mgp-button>

    <mgp-button
      class="resume__pay-button"
      variant="primary"
      [icon]="{
        name: 'cash',
        direction: 'top',
        height: '2rem',
        width: '2rem',
      }"
    >
      COBRAR
    </mgp-button>
  </div>
</div>
